div
  label(for='login')='user : '
  input#login(name='login', autofocus='on',autocomplete='off', type='text')
  label(for='password')='password : '
  input#password(name='password', autocomplete='off', type='password')
